h1{
    color:aqua
}
/**{
    border:solid
}*/
.header{
    background-color: white;
    display:flex;
    

}
.menu{
    margin-top: 65px;
    margin-left: -135px;
    margin-right: 500px;
}

.grid{
    display:flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
}

p{
    text-align:left;
}